@import '../../styles/utilities';
.seek-container {
    margin-top: 150px;
    width: 100%;
    margin-bottom: 50px;
    @include flexProperties(true, true);
    &-price {
        width: 900px;
        @include flexProperties(true, true);
    }
    button {
        margin-top: 34px;
    }
}

.locdropdown {
    margin-top: 100px;
    width: 1200px;
}

.seek-filter-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.seachButton {
    margin-left: 100px;
}