h1{
    color: green;
    padding: 10px;
    margin-left: 5px;
}
.help-person{
    margin-bottom: 10px;
}
.help-description{
    padding: 15px;
}
.w-25rem{
    width:97%;
    margin-top: 10px;
}
.help-details{
    display: flex;
    width: 100%;
}
.fixImageSize{
    width: 20%;
} 
