h1{
    color: green;
    padding: 10px;
    margin-left: 5px;
}
.help-person{
    margin-bottom: 10px;
}
.help-description{
    padding: 15px;
}
.w-30rem{
    width:97%;
    margin-top: 10px;
    height: 400px;
    font-size: 15pt;
    &:hover {
        transform: scale(1,1.02);
        box-shadow: 1px 2px 17px lightsteelblue;
    }
}
.help-details{
    display: flex;
    width: 100%;
}
.fixListImage{
    width: 15%;
    height: 300px;

} 
