
.tabIcon {
    width: 30px;
    height: 30px;
    display: block;
    margin: 15px 0 !important;
    letter-spacing: normal !important
}

.tabColor {
    color: #ffffff !important;
    background-color: #9c27b0 !important;
    box-shadow: 0 4px 20px 0px #00000024, 0 7px 10px -5px #9c27b066
}